<!-- UPDATE PROFILE PAGE -->
<h1 align="center">Edit Profile Information</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">   
                <%= form_for @user do |f| %>
                    <div>
                        <p>First Name:</p>
                            <%= f.text_field :first_name, :class => 'form-control' %>
                    </div>
                    </br>
                    <div>
                        <p>Last Name:</p>
                            <%= f.text_field :last_name, :class => 'form-control' %>
                    </div>
                    <div>
                        <p>Update Picture:</p>
                            <%= f.file_field :avatar %>
                    </div>
                    </br>
                    <small><em></em></small>
                    <%= f.submit "update", class:"btn btn-primary"%>
                <% end %>
            </div>
        </div>
    </div>