<body class="subwaybackground">
    <div class="container-fluid">

    <section class='intro'>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3 colorform">
     <h1>Sign up for High Five</h1>
     <%= form_for @user do |f| %>
       <ul>
           <% if @user.errors.any? %> 
             <p>
                 <%= pluralize(@user.errors.count, "error") %> prevented the form from being saved:
             </p>
             <% @user.errors.full_messages.each do |message| %> 
             <li><%= message %></li>
             <% end %> 
           <% end %> 
       </ul>
     <%= f.text_field :first_name, placeholder: "First Name", class:'form-control', autofocus: true,:required => true, :minlength => '1' %> 
     <br>
     <%= f.text_field :last_name, placeholder: "Last Name", class:'form-control',:required => true, :minlength => '1' %> 
     <br> 
     <%= f.label :email %> 
     <%= f.text_field :email, class:'form-control',:required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
     <br>
     <%= f.label :password %> 
     <%= f.password_field :password, class:'form-control',:required => true , :minlength => '3' %>
     <br>
     <%= f.file_field :avatar, classButton:"btn btn-primary",:required => true %>
    
     <div class="pull-right">
         <%= f.submit "Sign Up", class: 'btn btn-primary' %> 
     </div>
     <% end %> 
 </div>
</section>
</div>
</body>