<div class="profile-header text-center">
  <div class="container">
    <div class="container-inner">
      <img class="img-circle media-object"><%= image_tag @user.avatar.url(:medium), class:"circular" %>
      <h3 class="profile-header-user">Dave Gamache</h3>
      <p class="profile-header-bio">
        I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.
      </p>
    </div>
  </div>
			
			<h1><%= @user[:first_name] %> <%= @user[:last_name] %></h1>

			

			<p></p> <!-- padding -->
<!-- 			<p>Bio</p> -->
    		<p><strong>Join Date: </strong><small><%= time_ago_in_words(@user.created_at)%> ago</small></p>
    		<%=link_to "Edit profile", edit_user_path, class:"btn btn-primary" %> 
    		  <div>
    		  	<%= form_for [@user, @compliment] do |f| %>
    				<%= f.text_field :comment, placeholder: "Description" %>
    				<%= f.submit "Compliment!" %>
    			<% end %>
  			  </div>

    		</div>
    		<p></p> <!-- padding -->
		</div>
		<div id="profile-data" class="col-sm-offset-5 col-sm-6">
			<h2>Compliments</h2>
			<% @user.compliments_received.each do |compliment| %>
			<%= User.find(compliment.complimentor_id).first_name %>
			<li><%= compliment.comment %></li>
			<% end %>
  		</div>
	</div>
</div>

