<body class="backgroundblur">
	<div class="container-fluid">
		<!-- blue blur background -->

		<!--user image and name in panel header responsive -->

		<div class="container p-t-md">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default panel-profile m-b-md">
						<div class="panel-heading" style="background-image: url(http://i.imgur.com/YoRr1sU.jpg)">
							<div class="panel-body text-center">  	
								<img class="img-circle media-object"> <%= image_tag @user.avatar.url(:medium), class:"circular" %>
								<h3 class="profile-header-user"><%= @user[:first_name] %> <%= @user[:last_name] %></h3>
							</div>
						</div>

						<!-- closes panel header -->
						<!-- beginning of panel body -->

						<!--  <div class="panel panel-default"> -->

						<div class="panel-body">
							<p class="joinedat">Joined: <%= time_ago_in_words(@user.created_at)%> ago</p>
							<ul class="panel-menu">
								<li class="panel-menu-item">
									<a href="#userModal" class="text-inherit" data-toggle="modal">

									 <% if @user.id == current_user.id %> 
										<h5 class="m-y-0"><%=link_to "Edit profile", edit_user_path, class:"edit" %> </h5>
									 <% end %>
									</a>
								</li>
								<li class="panel-menu-item">
									<a href="#userModal" class="text-inherit" data-toggle="modal">

										<h5 class="m-y-0">Compliment Count: <%=@user.compliments_received.count%></h5>

									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>


 <!-- Beginning of Compliment container ==============
 ====  Stores users first name and message history --> 

 <div class="col-md-8">
 	<ul class="list-group media-list media-list-stream">
 		<li class="media list-group-item p-a inboxopacity">
 			<div class="inbox text-center">INBOX</div>
 		</li>
 		<li class="media list-group-item p-a inboxopacity">

 		<% @user.compliments_received.each do |compliment| %>
 		<a class="media-left" href="#">
 			<%= image_tag User.find(compliment.complimentor_id).avatar.url(:medium), class:"usericon" %>
 		</a>
 		<span><%= User.find(compliment.complimentor_id).first_name %></span>
 		<a class="media-right" href="#">
 		<span class="time"> <span class="glyphicon glyphicon-time"></span><%= time_ago_in_words(compliment.created_at)%> ago</span>
 		</div>

 		</a>
 		<br>
 		
 			<%= compliment.comment %>
 			<% end %>
 		</div>

 		</li>
 		
 	</ul>
 </div>

 </div>
</div>
</body>



