<div id = "content">
  <h3>Compliments</h3>
  <%= form_for [@user, @compliment] do |f| %>
    <% if @compliment.errors.any? %>
    <div class='comment-form'>
    <div id="error_explanation">
      <h2 class="error-warning">
        <%= pluralize(@compliment.errors.count, "error") %> prohibited
        this compliment from being saved:
      </h2>
      <ul>
        <% @compliment.errors.full_messages.each do |msg| %>
        <li class="error-message"><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p class="comment-form-title">
      <%= f.label :"High Five" %>
      <%= f.text_field :"high_five" %> <br> 
      <%= f.label :'New Compliments' %>
      <%= f.text_field :comment, class: 'form-control' %>
    </p>
    <p class="comment-form-submit">
      <%= f.submit "High Five", :class => 'btn btn-sm btn-primary pull-right' %>
    </p>
  </div>
    <% end %>
</div>

