<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HIGHFIVE</title>
	<!-- VENDOR SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Titillium+Web:400,300,300italic,600,200|Asap' rel='stylesheet' type='text/css'>
	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="text/javascript" href="/vendor/assets/javascripts/themejs/bootstrap/collapse.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body data-no-turbolink>
	<%= render partial: "layouts/nav" %>

	<%= yield %>
	
	<script = "text/javascript">
	$(document).ready(function(){
	  $('.mdl-layout__container').on('click', '.mdl-navigation__link', function(e) {
	       e.preventDefault();
	       console.log("foobar");
	       // show/hide and do other modal things here
	       $('.modal').show()
	       $('.modal').on('click', '.cancel', function(e) {
	         e.preventDefault();
	         $('.modal').hide();
	       })
	     })
	})
	</script>

</body>
</html>
